/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

/**
 * Sticky footer block start.
 */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}
/**
 * Sticky footer block end.
 */

body, button, input, optgroup, select, textarea {
    font-family: arial,"Microsoft JhengHei","微軟正黑體",sans-serif !important;
}

.vertical-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

.container > .section, .container > .section > .row {
    width: 100%;
}

.datepicker-date-display, .datepicker-table td.is-selected  {
    background-color: #f48fb1;
}

.datepicker-table td.is-today {
    color: #e91e63;
}

.datepicker-cancel, .datepicker-done {
    color: #f48fb1;
}

table.highlight > tbody > tr:hover {
    background-color: rgba(252, 228, 236, 0.5);
}

#navbar-brand-logo {
    height: 40px;
    vertical-align: middle;
}

.datepicker-calendar-container button:focus {
    background-color: #f48fb1;
}