<footer class="page-footer">
    <div class="container">
        <div class="row vertical-center">
            <div class="col l3 m3 s12">
                <img class="responsive-img" src="/static/img/profile.png">
            </div>
            <div class="col l8 m8 s12">
                <h5 class="white-text">Marianne Zeng</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="mailto:love0114520@gmail.com"><i class="far fa-envelope"></i>&nbsp;love0114520@gmail.com</a></li>
                    <li><a class="grey-text text-lighten-3" href="https://github.com/love0114520"><i class="fab fa-github"></i>&nbsp;GitHub</a></li>
                    <li>對於愛打扮的人來說，維持美麗的皮膚與提升魅力的彩妝品是不可或缺的，但要如何從眾多且未試用過的產品中挑選適合自己的，那需要利用非常多的時間和精力去搜尋以及做選擇與評估，於是製作了一個能夠供使用者清楚的從@Cosme (＠cosme TAIWAN)這個提供豐富的化妝品和美容保養資訊的美妝論壇上，看見商品的熱門排行與各個心得重點標籤，一眼看見目前各個產品客戶的使用結論，更方便使用者對各項產品做參考，也省下不少時間去蒐集資料。</li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="/static/js/materialize.js"></script>
<script src="/static/js/init.js"></script>
