{% include 'header.html' %}
<main class="container vertical-center">
    <div class="section">

        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12 m6 l6">
                <a class="icon-block" href="/review_counts_ranking">
                    <h2 class="center light-blue-text"><i class="material-icons">whatshot</i></h2>
                    <h5 class="center">近期商品評論總數量排行榜</h5>
                    <p class="light">使用者可以從這邊看到這段期間內論壇上哪個品牌的哪項產品有最多的評論</p>
                </a>
            </div>

            <div class="col s12 m6 l6">
                <a class="icon-block" href="/tag_frequency_in_review_ranking">
                    <h2 class="center light-blue-text"><i class="material-icons">local_offer</i></h2>
                    <h5 class="center">各項商品與標籤的使用排行</h5>
                    <p class="light">在論壇上商品心得裡對於這項產品所描寫的標籤出現頻率，可以得知產品的功效或其他關鍵字</p>
                </a>
            </div>

        </div>

    </div>
</main>
{% include 'footer.html' %}
</body>
</html>